body {
  margin: 0;
  padding: 0;
}
.app-container {
  background-color: #f4f9e9;
}

.app-section {
  margin: auto;
  background-color: #153243;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 50vw;
  max-width: 800px;
}

@media screen and (max-width: 800px) {
  .app-section {
    width: 100vw;
  }
}
